In [2]:
# Create set A
A = {2,4,6,8,10}
f'Type A: {type(A)}, A: {A}' # "Type A: <class 'set'>, A: {2, 4, 6, 8, 10}"

"Type A: <class 'set'>, A: {2, 4, 6, 8, 10}"

In [3]:
# Create set B
B = {3,8,11,12}
f'Type B: {type(B)}, B: {B}' # "Type B: <class 'set'>, B: {8, 11, 3, 12}"

"Type B: <class 'set'>, B: {8, 3, 11, 12}"

In [4]:
# Create set C
C = {2,3,6,8,9,11}
f'Type C: {type(C)}, C: {C}' # "Type C: <class 'set'>, C: {2, 3, 6, 8, 9, 11}"

"Type C: <class 'set'>, C: {2, 3, 6, 8, 9, 11}"

In [5]:
# Create universal set U
U = {1,2,3,4,5,6,7,8,9,10,11,12}
f'Type U: {type(U)}, U: {U}' # "Type U: <class 'set'>, U: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}"

"Type U: <class 'set'>, U: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}"

In [ ]:
#Intersection f A and B
A_inters_B = A & B
A_inters_B == {8}

True

In [ ]:
#Union of A and C
A_union_C = A|C
A_union_C == {2,3,4,6,8,9,10,11}

True

In [ ]:
#Absolute complementary of A
A_comp = U - A
A_comp == {1,3,5,7,9,11,12}

True

In [ ]:
#Absolute complementary of B
B_comp = U - B
B_comp == {1,2,4,5,6,7,9,10}

True

In [ ]:
#Absolute complementary (union A and B)
A_union_B_comp = U - (A|B)
A_union_B_comp == {1,5,7,9}

True

In [ ]:
#Absolute complementary (intersection B and C)
B_inters_C_comp = U - (B&C)
B_inters_C_comp == {1,2,4,5,6,7,9,10,12}

True

In [ ]:
#A complementary B
compl_of_B = A-B
compl_of_B == {2,4,6,10}

True

In [ ]:
#C complementary (B complementary A)
C_compl_B_compl_A = C - (B-A)
C_compl_B_compl_A == {2,6,8,9}

True

In [ ]:
#(Intersection of A and C) UNION (C relative complementary B)
C_inters_A_union_C_min_B = (C&A)|(C-B)
C_inters_A_union_C_min_B == {2,6,8,9}

True

In [ ]:
#Inclusion and exclusion principle the shorter version
left_hand_eq = len(A|B|C)
print(left_hand_eq)  # 9 elements in the set

9

In [ ]:
#Inclusion and exclusion principle the expanded version
right_hand_eq = len(A) + len(B) + len(C) - len(A&B) - len(A&C) - len(B&C) + len(A&B&C)
print(right_hand_eq) # 9 elements in the set

9

In [ ]:
#using comparison operators to compare cardinality of left and right
left_hand_eq == right_hand_eq

True

In [ ]:
#Everyone's animal collection
Nina = set(["Cat","Dog","Rabbit","Donkey","Parrot", "Goldfish"])
Mary = set(["Dog","Chinchilla","Horse", "Chicken"])
Eve = set(["Rabbit", "Turtle", "Goldfish"])

In [ ]:
#Updating Eve's collection after her turtle died
Eve.remove("Turtle")
print(Eve)

{'Goldfish', 'Rabbit'}

In [ ]:
#Updating Nina's collection after taking in Mary's collection
Nina.update(Mary)
print(Nina)

{'Chinchilla', 'Parrot', 'Chicken', 'Horse', 'Cat', 'Goldfish', 'Donkey', 'Dog', 'Rabbit'}

In [ ]:
# Clearing Mary's Pet collection 
Mary.clear()
print(Mary)

set()

In [ ]:
#Total Number of species Nina has
n_species_Nina = len(Nina)
print (n_species_Nina)

9

In [ ]:
#Updating Nina's collection after giving some to Eve
Nina.difference_update(Eve)
print (Nina)
print (len(Nina))

{'Chinchilla', 'Parrot', 'Chicken', 'Horse', 'Cat', 'Donkey', 'Dog'}
7

In [ ]:
#Loading and removing any whitespace from Countries
import pandas as pd 
import numpy as np 
europe = pd.read_excel('Europe_and_EU.xlsx', sheet_name = 'Europe') 
eu = pd.read_excel('Europe_and_EU.xlsx', sheet_name = 'EU')
europe['Country']=europe['Country'].str.strip()
eu['Country']=eu['Country'].str.strip()

In [44]:
europe.head(3)

,Rank,Country,Population,% of population,Average relative annual growth (%),Average absolute annual growth,Estimated doubling time (Years),Official figure (where available),Date of last figure,Regional grouping,Source
0,1.0,Russia,143964709,17.15,0.19,294285,368,146839993,2017-01-01 00:00:00,EAEU,[1]
1,2.0,Germany,82521653,9.80,1.20,600000,90,82800000,2016-12-31 00:00:00,EU,Official estimate
2,3.0,Turkey,80810000,9.60,1.34,1035000,52,77695904,2016-12-31 00:00:00,NaN,[2]

In [45]:
eu.head(3)

,Rank,Country,2017 population,% of pop.,Average relative annual growth,Average absolute annual growth,Official figure,Date of last figure,Source
0,1,Germany,82800000,16.18,0.76,628876,82576900,2017-03-31,Official estimate
1,2,France,67210459,13.10,0.40,265557,67174000,2018-01-01,Monthly official estimate
2,3,United Kingdom,65808573,12.86,0.65,428793,65648100,2017-06-30,Official estimate

In [ ]:
# Check to confirm that the EU countries are a subset of countries in Europe
europe_countries = set(europe['Country'])
eu_countries = set(eu['Country'])

set(eu['Country']) <= (set(europe['Country']))

True

In [ ]:
# Find the set of countries that are in Europe but not the EU
(set(europe['Country'])) - set(eu['Country'])

{'Albania',
 'Andorra',
 'Armenia',
 'Azerbaijan',
 'Belarus',
 'Bosnia and Herzegovina',
 'Faroe Islands (Denmark)',
 'Georgia',
 'Gibraltar (UK)',
 'Guernsey (UK)',
 'Iceland',
 'Isle of Man (UK)',
 'Jersey (UK)',
 'Kosovo',
 'Liechtenstein',
 'Macedonia',
 'Moldova',
 'Monaco',
 'Montenegro',
 'Norway',
 'Russia',
 'San Marino',
 'Serbia',
 'Svalbard (Norway)',
 'Switzerland',
 'Turkey',
 'Ukraine',
 'Vatican City',
 'Åland Islands (Finland)'}